body
{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.25fr 0.5fr 3fr;
    margin: 0px;
    font-family: 'Roboto';
}

.sidebar
{
    grid-row: 1/4;
    grid-column: 1/2;
    background-color: rgb(69, 144, 206);
}

.dashboard-svg
{
    width: 3.5vw;
    height: 3.5vw;
}
.dashboard, .sidebar-link
{
    display: flex;
    color: white;
    fill: white;
}

.sidebar-link
{
    gap: 1vw;
}

.dashboard-text
{
    font-size: 2.7vw;
    align-self: center;
}

.sidebar-svg, .top-svg
{
    width: 2vw;
    height: 2vw;    
}

.sidebar-text
{
    font-size: 1.5vw;
    align-self: center;
}

.group-1, .group-2
{
    padding-top: 15%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.top
{
    display: flex;
    gap: 20px;
    grid-row: 1/2;
    padding-top: .75vh;
}

.top-input
{
    background-color: rgb(230, 235, 237);
    border-radius: 1.625rem;
    border: 0px;
    width: 90%;
    height: 75%;
}

.top-img
{
    border-radius: 50%;
    width: 2.25vw;
    height: 2.25vw;    
}


.top-left
{
    display: flex;
    align-items: center;
    width: 75%;
    gap: 2vw;
    padding-left: 2%;

}

.name
{
    font-weight: bold;
}

.top-right
{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: right;
    gap: 2.25vw;
    padding-right: 5%;
}

.control-panel
{
    display: flex;
    align-items: center;
    gap: 1.5vw;
    padding-left: 2vw;
    justify-content: space-between;
    box-shadow: 0px 10px 10px -15px #111;    

}

.profile
{
    display: flex;
    gap: 1.5vw;
}

.greeting
{
    font-size: 2vh;
}

.name-tag
{
    font-size: 3vh;
}
.control-img
{
    border-radius: 50%;
    width: 5vw;
    height: 5vw;    
}

.control-buttons
{
    display: flex;
    width: 33%;
    gap: 3vw;
    padding-right: 2vw;
}

.ctrl-btn
{
    background-color: rgb(69, 144, 206);
    border-radius: 1.625rem;
    color: white;
    border: 0px;
    width: 33%;
    padding: 3%;
    font-weight: bold;
}